<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" formControlName="email" 
      [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty" 
      [class.valid]="signupForm.controls.email.valid && signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      <p class="validation">Please enter a valid email</p>
    </ion-item>
    <ion-item>
      <ion-label floating>Display Name</ion-label>
      <ion-input type="text" formControlName="displayName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"
        [class.valid]="signupForm.controls.password.valid && signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      <p class="validation">Password must be at least 6 characters</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Create an Account
    </button>
  </form>
</ion-content>
