page-photo-wall {

    .about-row {
        margin-top: 0;
        margin-bottom: 0;
    }

    .share-row {
        margin-top: 0;
        margin-bottom: 0;
    }

    .time {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .author {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .img {
        object-fit: cover;
        height: 350px;
    }
}
