<ion-header>
  <ion-navbar>
    <ion-title>Invite User</ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="sendInvite()">
          Send Invite
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar 
    [(ngModel)]="searchTxt"
    (ionInput)="onInput()"
    placeholder="Search by Username or Email">
  </ion-searchbar>
  <ion-list *ngIf="!searching">
    <ion-item  *ngFor="let user of users" text-wrap>
      <ion-checkbox *ngIf="selectedUsers.indexOf(user) > -1;else notSelected" checked="true" (ionChange)="toggleUser(user)"></ion-checkbox>
        <ng-template #notSelected>
           <ion-checkbox checked="false" (ionChange)="toggleUser(user)"></ion-checkbox>
        </ng-template>
     <ion-label>{{user.displayName}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="searching">
      <ion-item *ngFor="let user of filteredUsers" text-wrap>
         <ion-checkbox *ngIf="selectedUsers.indexOf(user) > -1;else notSelected" checked="true" (ionChange)="toggleUser(user)"></ion-checkbox>
         <ng-template #notSelected>
           <ion-checkbox checked="false" (ionChange)="toggleUser(user)"></ion-checkbox>
        </ng-template>
         <ion-label>{{user.displayName}}</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
