<ion-header>
  <ion-navbar>
    <ion-title>Locker Rooms</ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="logout()">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-list-header>
          Private Rooms
      </ion-list-header>
      <ion-item *ngFor="let room of privaterooms">
        <h2 (click)="joinPrivateRoom(room.key, room.roomname, room)">{{room.roomname}}</h2>
        <button *ngIf="room.owner==user.uid" ion-button clear item-end (click)="removePrivate(room)">Remove</button>
        <button ion-button clear item-end (click)="inviteUser(room.key)">Invite</button>
      </ion-item>
    <ion-list-header>
        Public Rooms
    </ion-list-header>
    <ion-item *ngFor="let room of rooms" (click)="joinRoom(room.key, room.roomname, room)">
      <h2>{{room.roomname}}</h2>
      <p *ngIf="room.infoUpdate">{{room.infoUpdate.messageCount}} messages</p>
      <p *ngIf="!room.infoUpdate">0 messages</p>
      <p *ngIf="room.infoUpdate">Last Updated: {{room.infoUpdate.dateSent | date:'short'}}</p>
      <!-- <ion-icon name="chatboxes" item-end (click)="joinRoom(room.key, room.roomname)"></ion-icon> -->
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
   <button ion-button block class="comment-button" color="saRed" (click)="addRoom()">Add a Locker Room</button>
  </ion-toolbar>
 </ion-footer>